<div id="cont"><br>
<br>
<br>
<br>
<br>

<div id="body">

<form>
    <h1>Signup Page</h1>
    <br>
    <label for="name">Name</label>
    <input type="text" id="name" required ><br>

    <label for="email">E-mail</label>
    <input type="text" id="email" required ><br>

    <label for="phone">Phone</label>
    <input type="text" id="phone"  maxlength="14" id="phone" placeholder="+91 XXXXXXXXXX" required ><br>
    
    <label for="DOB">Date Of Birth</label>
    <input type="date"  id="dob" required ><br>
    
    <label for="phone">Password</label>
    <input type="password"  id="password" required ><br>
    
    
    
    <div align="center"><input type="submit" value="Signup" (click)="send()" [routerLink]="['\login']"> <input type="reset" value="Reset"></div>
    


</form>
</div>
</div>