<br><br>
<div id="body">
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>


                    <tr   *ngFor="let product of cartdata">
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#"> {{product.pname}}</a></h4>
                                <h5 class="media-heading"> by <a href="#">{{product.pdate}}</a></h5>
                                <span>Status: </span><span class="text-success"><strong> In Stock</strong></span>
                            </div>
                        </div></td>
                        
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{product.pquantity}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{product.pprice}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{product.pquantity*product.pprice}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" (click)="deletefxn(product.pdate)"  class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove" ></span> Remove
                        </button></td>

                    </tr>
                    
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>GST(18%)</h5></td>
                        <td class="text-right"><h5><strong>{{subtotal*0.18}}</strong></h5></td>
                    </tr>
                   
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>{{total}}</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></td>
                        <td>
                        <button type="button" (click)="checkout()" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<br><br>