
<div id="body">
    <div class="container">
        <div class="row">
              <h2>Product List</h2>
                   
              <div class="col-sm-3" (click)="detailfn('classic desert storm','https://royalenfield.com/images/data/menu/image49.jpg',50)">
                <article class="col-item">
                  <div class="photo">
                    <img src="https://royalenfield.com/images/data/menu/image49.jpg" class="img-responsive" alt="Product Image" />
                  </div>
                  <div class="info">
                    <div class="row">
                      <div class="price-details col-md-6"  >
                        
                        <h1 >classic desert storm</h1>
                        <span class="price-new">$110.00</span>
                      </div>
                    </div>
                    
                    <div class="clearfix"></div>
                  </div>
                </article>
              </div>

              <div class="col-sm-3"(click)="detailfn('Classic Chrome','https://royalenfield.com/id-eng/images/data/menu/image10.jpg',100)">
                  <article class="col-item">
                    <div class="photo">
                      <img src="https://royalenfield.com/id-eng/images/data/menu/image10.jpg" class="img-responsive" alt="Product Image" />
                    </div>
                    <div class="info">
                      <div class="row">
                        <div class="price-details col-md-6">
                          
                          <h1>Classic Chrome</h1>
                          <span class="price-new">$110.00</span>
                        </div>
                      </div>
                     
                      <div class="clearfix"></div>
                    </div>
                  </article>
                </div>

                <div class="col-sm-3" (click)="detailfn('Classic Chrome','https://royalenfield.com/np/images/data/menu/image1.jpg',200)">
                    <article class="col-item">
                      <div class="photo">
                       <img src="https://royalenfield.com/np/images/data/menu/image1.jpg" class="img-responsive" alt="Product Image" />
                      </div>
                      <div class="info">
                        <div class="row">
                          <div class="price-details col-md-6">
                            
                            <h1>Classic Chrome</h1>
                            <span class="price-new">$110.00</span>
                          </div>
                        </div>
                        
                        <div class="clearfix"></div>
                      </div>
                    </article>
                  </div>

                  <div class="col-sm-3"(click)="detailfn('Classic Battle Green','https://royalenfield.com/ae/images/data/menu/image6.jpg',250)" >
                      <article class="col-item">
                        <div class="photo">
                          <img src="https://royalenfield.com/ae/images/data/menu/image6.jpg" class="img-responsive" alt="Product Image" />
                        </div>
                        <div class="info">
                          <div class="row">
                            <div class="price-details col-md-6">
                              
                              <h1>classic-battle-green</h1>
                              <span class="price-new">$110.00</span>
                            </div>
                          </div>
                         
                          <div class="clearfix"></div>
                        </div>
                      </article>
                    </div>


                  <div class="col-sm-3" (click)="detailfn('Stealth black','https://royalenfield.com/classicmatte/images/gallery_big/sb6.jpg',80)">
                      <article class="col-item">
                        <div class="photo">
                          <img src="https://royalenfield.com/classicmatte/images/gallery_big/sb6.jpg" class="img-responsive" alt="Product Image" />
                        </div>
                        <div class="info">
                          <div class="row">
                            <div class="price-details col-md-6">
                              
                              <h1>Stealth black</h1>
                              <span class="price-new">$110.00</span>
                            </div>
                          </div>
                          
                          <div class="clearfix"></div>
                        </div>
                      </article>
                    </div>


                    <div class="col-sm-3" (click)="detailfn('Classic Gun Metal Grey','https://royalenfield.com/classicmatte/images/gallery_big/gm1.jpg',45)">
                        <article class="col-item">
                          <div class="photo">
                          <img src="https://royalenfield.com/classicmatte/images/gallery_big/gm1.jpg" class="img-responsive" alt="Product Image" />
                          </div>
                          <div class="info">
                            <div class="row">
                              <div class="price-details col-md-6">
                               
                                <h1>Classic Gun Metal Grey</h1>
                                <span class="price-new">$110.00</span>
                              </div>
                            </div>
                           
                            <div class="clearfix"></div>
                          </div>
                        </article>
                      </div>



                      <div class="col-sm-3" (click)="detailfn('Stealth black','https://royalenfield.com/classicmatte/images/gallery_big/sb1.jpg',35)">
                          <article class="col-item">
                            <div class="photo">
                             <img src="https://royalenfield.com/classicmatte/images/gallery_big/sb1.jpg" class="img-responsive" alt="Product Image" />
                            </div>
                            <div class="info">
                              <div class="row">
                                <div class="price-details col-md-6">
                                 
                                  <h1>Stealth black</h1>
                                  <span class="price-new">$110.00</span>
                                </div>
                              </div>
                            
                              <div class="clearfix"></div>
                            </div>
                          </article>
                        </div>







                        <div class="col-sm-3"(click)="detailfn('Classic Gun Metal Grey','https://royalenfield.com/classicmatte/images/gallery_big/gm1.jpg',75)">
                            <article class="col-item">
                              <div class="photo">
                               <img src="https://royalenfield.com/classicmatte/images/gallery_big/gm1.jpg" class="img-responsive" alt="Product Image" />
                              </div>
                              <div class="info">
                                <div class="row">
                                  <div class="price-details col-md-6">
                                    
                                    <h1>Classic Gun Metal Grey</h1>
                                    <span class="price-new">$110.00</span>
                                  </div>
                                </div>
                              
                                <div class="clearfix"></div>
                              </div>
                            </article>
                          </div>



                            <div class="col-sm-3"(click)="detailfn('classic desert storm','https://royalenfield.com/images/data/menu/image49.jpg',80)">
                              <article class="col-item">
                                <div class="photo">
                                  <img src="https://royalenfield.com/images/data/menu/image49.jpg" class="img-responsive" alt="Product Image"/>
                                </div>
                                <div class="info">
                                  <div class="row">
                                    <div class="price-details col-md-6">
                                      
                                      <h1>classic desert storm</h1>
                                      <span class="price-new">$110.00</span>
                                    </div>
                                  </div>
                                  
                                  <div class="clearfix"></div>
                                </div>
                              </article>
                            </div>
              
                            <div class="col-sm-3" (click)="detailfn('Classic Chrome','https://royalenfield.com/id-eng/images/data/menu/image10.jpg',96)">
                                <article class="col-item">
                                  <div class="photo">
                                    <img src="https://royalenfield.com/id-eng/images/data/menu/image10.jpg" class="img-responsive" alt="Product Image" />
                                  </div>
                                  <div class="info">
                                    <div class="row">
                                      <div class="price-details col-md-6">
                                        
                                        <h1>Classic Chrome</h1>
                                        <span class="price-new">$110.00</span>
                                      </div>
                                    </div>
                                   
                                    <div class="clearfix"></div>
                                  </div>
                                </article>
                              </div>
              
                              <div class="col-sm-3"(click)="detailfn('Classic Chrome','https://royalenfield.com/np/images/data/menu/image1.jpg',54)">
                                  <article class="col-item">
                                    <div class="photo">
                                     <img src="https://royalenfield.com/np/images/data/menu/image1.jpg" class="img-responsive" alt="Product Image" />
                                    </div>
                                    <div class="info">
                                      <div class="row">
                                        <div class="price-details col-md-6">
                                          
                                          <h1>Classic Chrome</h1>
                                          <span class="price-new">$110.00</span>
                                        </div>
                                      </div>
                                      
                                      <div class="clearfix"></div>
                                    </div>
                                  </article>
                                </div>
              
                                <div class="col-sm-3"(click)="detailfn('classic-battle-green','https://royalenfield.com/ae/images/data/menu/image6.jpg',82)">
                                    <article class="col-item">
                                      <div class="photo">
                                        <img src="https://royalenfield.com/ae/images/data/menu/image6.jpg" class="img-responsive" alt="Product Image" />
                                      </div>
                                      <div class="info">
                                        <div class="row">
                                          <div class="price-details col-md-6">
                                            
                                            <h1>classic-battle-green</h1>
                                            <span class="price-new">$110.00</span>
                                          </div>
                                        </div>
                                       
                                        <div class="clearfix"></div>
                                      </div>
                                    </article>
                                  </div>


                          <div class="col-sm-3"(click)="detailfn('Classic Gun Metal Grey','https://royalenfield.com/classicmatte/images/gallery_big/gm1.jpg',32)">
                            <article class="col-item">
                              <div class="photo">
                                <img src="https://royalenfield.com/classicmatte/images/gallery_big/gm1.jpg" class="img-responsive" alt="Product Image" />
                              </div>
                              <div class="info">
                                <div class="row">
                                  <div class="price-details col-md-6">
                                    
                                    <h1>Classic Gun Metal Grey</h1>
                                    <span class="price-new">$110.00</span>
                                  </div>
                                </div>
                               
                                <div class="clearfix"></div>
                              </div>
                            </article>
                          </div>

                         



        </div>
      </div>
</div>